<section id="about_us" class="about-us-section">
  <div class="container">
    <div class="about-us-section-wrapper">
      <div>
        <div class="title-wrapper">
          <h2 class="about-us-title">About us</h2>
        </div>
        <h2 class="about-us-subtitle title">
          Our craftsmanship: creating unique handmade furniture
        </h2>
        <p class="about-us-text">
          Discover the inspiration behind our modern and minimalist designs, and
          see how we bring them to life through our skilled craftsmanship.
        </p>

        <ul class="features-list">
          <li>
            <h3 class="features-title">5+</h3>
            <p class="features-text">
              Years of experience creating handcrafted furniture
            </p>
          </li>
          <li>
            <h3 class="features-title">100%</h3>
            <p class="features-text">
              Sustainably sourced materials used in all of our furniture
            </p>
          </li>
          <li>
            <h3 class="features-title">500+</h3>
            <p class="features-text">
              Unique furniture designs crafted by our skilled artisans
            </p>
          </li>
        </ul>
      </div>
    </div>

    <img
      class="about-us-image"
      srcset="
        ../img/about-us/about-us-mobile.jpg      375w,
        ../img/about-us/about-us-tablet.jpg      704w,
        ../img/about-us/about-us-desktop.jpg     536w,
        ../img/about-us/about-us-mobile@2x.jpg   750w,
        ../img/about-us/about-us-tablet@2x.jpg  1408w,
        ../img/about-us/about-us-desktop@2x.jpg 1072w
      "
      sizes="(min-width: 1440px) 536px,
           (min-width: 768px) 704px,
            (max-width: 767px) 375px"
      src="../img/about-us/about-us-mobile.jpg"
      loading="lazy"
      alt="white sofa"
    />
  </div>
</section>
