<section class="container">
  <h2 class="title">Bestsellers</h2>

  <div class="bestsellers-wrapper">
    <div class="big-img">
      <img
        srcset="
          ../img/bestsellers/mobile/bed-mobile.jpg       343w,
          ../img/bestsellers/mobile/bed-mobile@2x.jpg    686w,
          ../img/bestsellers/tablet/bed-tablet.jpg       704w,
          ../img/bestsellers/tablet/bed-tablet@2x.jpg   1408w,
          ../img/bestsellers/desktop/bed-desktop.jpg     536w,
          ../img/bestsellers/desktop/bed-desktop@2x.jpg 1072w
        "
        sizes="(min-width: 1440px) 536px, (min-width: 768px) 704px, (max-width: 767px) 343px"
        src="../img/bestsellers/mobile/bed-mobile.jpg"
        alt="Bed"
      />
      <p class="bestsellers-text">The modern platform bed</p>
      <p class="bestsellers-price">750&dollar;</p>
    </div>
    <ul class="bestsellers-list">
      <li class="bestsellers-item">
        <img
          srcset="
            ../img/bestsellers/mobile/bed-mobile.jpg       343w,
            ../img/bestsellers/mobile/bed-mobile@2x.jpg    686w,
            ../img/bestsellers/tablet/bed-tablet.jpg       704w,
            ../img/bestsellers/tablet/bed-tablet@2x.jpg   1408w,
            ../img/bestsellers/desktop/bed-desktop.jpg     536w,
            ../img/bestsellers/desktop/bed-desktop@2x.jpg 1072w
          "
          sizes="(min-width: 1440px) 536px, (min-width: 768px) 704px, (max-width: 767px) 343px"
          src="../img/bestsellers/mobile/bed-mobile.jpg"
          alt="Bed"
        />
        <p class="bestsellers-text">The modern platform bed</p>
        <p class="bestsellers-price">750&dollar;</p>
      </li>
      <li class="bestsellers-item">
        <img
          srcset="
            ../img/bestsellers/mobile/chairs-mobile.jpg      343w,
            ../img/bestsellers/mobile/chairs-mobile@2x.jpg   686w,
            ../img/bestsellers/tablet/chairs-tablet.jpg      336w,
            ../img/bestsellers/tablet/chairs-tablet@2x.jpg   672w,
            ../img/bestsellers/desktop/chairs-desktop.jpg    258w,
            ../img/bestsellers/desktop/chairs-desktop@2x.jpg 516w
          "
          sizes="(min-width:1440px) 258px, (min-width: 768px) 336px, (max-width: 767px) 343px"
          src="../img/bestsellers/mobile/chairs-mobile.jpg"
          alt="Chairs"
        />
        <p class="bestsellers-text">The Cozy Lounge Chair</p>
        <p class="bestsellers-price">230&dollar;</p>
      </li>
      <li class="bestsellers-item">
        <img
          srcset="
            ../img/bestsellers/mobile/chair-mobile.jpg      343w,
            ../img/bestsellers/mobile/chair-mobile@2x.jpg   686w,
            ../img/bestsellers/tablet/chair-tablet.jpg      336w,
            ../img/bestsellers/tablet/chair-tablet@2x.jpg   672w,
            ../img/bestsellers/desktop/chair-desktop.jpg    258w,
            ../img/bestsellers/desktop/chair-desktop@2x.jpg 516w
          "
          sizes="(min-width:1440px) 258px, (min-width: 768px) 336px, (max-width: 767px) 343px"
          src="../img/bestsellers/mobile/chair-mobile.jpg"
          alt="Chair"
        />
        <p class="bestsellers-text">The industrial accent chair</p>
        <p class="bestsellers-price">250&dollar;</p>
      </li>
      <li class="bestsellers-item">
        <img
          srcset="
            ../img/bestsellers/tablet/cabinet-tablet.jpg      336w,
            ../img/bestsellers/tablet/cabinet-tablet@2x.jpg   672w,
            ../img/bestsellers/desktop/cabinet-desktop.jpg    258w,
            ../img/bestsellers/desktop/cabinet-desktop@2x.jpg 516w
          "
          sizes="(min-width:1440px) 258px, (min-width: 768px) 336px"
          src="../img/bestsellers/tablet/cabinet-tablet.jpg"
          alt="Cabinet"
        />
        <p class="bestsellers-text">The sleek stand</p>
        <p class="bestsellers-price">300&dollar;</p>
      </li>
      <li class="bestsellers-item">
        <img
          srcset="
            ../img/bestsellers/tablet/sofa-tablet.jpg      336w,
            ../img/bestsellers/tablet/sofa-tablet@2x.jpg   672w,
            ../img/bestsellers/desktop/sofa-desktop.jpg    258w,
            ../img/bestsellers/desktop/sofa-desktop@2x.jpg 516w
          "
          sizes="(min-width:1440px) 258px, (min-width: 768px) 336px"
          src="../img/bestsellers/tablet/sofa-tablet.jpg"
          alt="Sofa"
        />
        <p class="bestsellers-text">The minimalist sofa</p>
        <p class="bestsellers-price">650&dollar;</p>
      </li>
    </ul>
  </div>
</section>
