<footer class="footer-section">
  <div class="container">
    <div class="icons-wrapper">
      <a class="footer-logo-link" href="../index.html">
        <svg class="footer-logo">
          <use href="../img/sprite.svg#icon-logo"></use>
        </svg>
      </a>

      <ul class="footer-social-list">
        <li>
          <a href="">
            <svg class="footer-social-icon">
              <use href="../img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="footer-social-icon">
              <use href="../img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="footer-social-icon">
              <use href="../img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <ul class="footer-nav-list">
      <li>
        <a href="">About us</a>
      </li>
      <li>
        <a href="">Our products</a>
      </li>
      <li>
        <a href="">Prices</a>
      </li>
      <li>
        <a href="">Bestsellers</a>
      </li>
      <li>
        <a href="">Reviews</a>
      </li>
    </ul>

    <ul class="footer-address-list">
      <li>
        <a
          href="https://maps.app.goo.gl/8zUfhhyK1Y4iueVAA"
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          Obolonsky Prospect, 14, Kyiv
        </a>
      </li>
      <li>Daily 10:00-21:00</li>
    </ul>

    <ul class="footer-contacts-list">
      <li class="footer-contacts-item item-frst-phone">
        <a href="tel:+380669384758">+380669384758</a>
      </li>
      <li class="footer-contacts-item item-scnd-phone">
        <a href="tel:+380679384758">+380679384758</a>
      </li>
      <li class="footer-contacts-item item-email">
        <a href="mailto:minimal.furniture@gmail.com">
          minimal.furniture@gmail.com
        </a>
      </li>
    </ul>

    <p class="footer-privacy-policy">
      By using this website, you agree to the
      <a href="../index.html">Terms of Service</a>
      and
      <a href="../index.html">Privacy Policy</a>
    </p>
  </div>
</footer>
