<section class="container">
  <h2 class="visually-hidden">Pricing</h2>
  <div class="wrapper">
    <ul>
      <li class="prices-item">
        <p class="prices-title">Chairs</p>
        <p class="prices-price">from 200&dollar;</p>
      </li>
      <li class="prices-item">
        <p class="prices-title">Tables</p>
        <p class="prices-price">from 250&dollar;</p>
      </li>
      <li class="prices-item">
        <p class="prices-title">Dressers</p>
        <p class="prices-price">from 300&dollar;</p>
      </li>
      <li class="prices-item">
        <p class="prices-title">Sofas</p>
        <p class="prices-price">from 500&dollar;</p>
      </li>
    </ul>
  </div>
</section>
