<section class="reviews-section">
  <div class="container">
    <h2 class="title">Clients reviews</h2>

    <ul class="reviews-list">
      <li class="review-item">
        <img
          class="review-img"
          srcset="../img/clients/alexandra@2x.jpg"
          src="../img/clients/alexandra.jpg"
          alt="Alexandra"
        />
        <div class="name-wrapper">
          <h3 class="review-name">Alexandra dream</h3>
          <p class="review-date">1 week ago</p>
        </div>
        <p class="review-text">
          I was blown away by the quality and craftsmanship of the furniture I
          received from this company. Each piece was unique and beautifully
          designed, and you can tell that a lot of thought and care goes into
          every detail.
        </p>
      </li>
      <li class="review-item">
        <img
          class="review-img"
          srcset="../img/clients/james@2x.jpg"
          src="../img/clients/james.jpg"
          alt="James"
        />
        <div class="name-wrapper">
          <h3 class="review-name">James Williams</h3>
          <p class="review-date">A week ago</p>
        </div>
        <p class="review-text">
          The "Minimal" furniture set is a fantastic addition to my home. It
          boasts a minimalist design, enhancing the feel and look of my living
          space. The sturdy construction is worth noting too, which speaks
          volumes about its durability.
        </p>
      </li>
      <li class="review-item">
        <img
          class="review-img"
          srcset="../img/clients/emily@2x.jpg"
          src="../img/clients/emily.jpg"
          alt="Emily"
        />
        <div class="name-wrapper">
          <h3 class="review-name">Emily Watson</h3>
          <p class="review-date">3 week ago</p>
        </div>
        <p class="review-text">
          The "Minimal" furniture set has far exceeded my expectations. The
          sleek design combined with the high-quality materials have not only
          added an exceptional aesthetic to my space but also offered an
          uncompromising standard of comfort.
        </p>
      </li>
    </ul>
  </div>
</section>
