.about-us-section-wrapper {
  background-color: #f7faff;
  padding: 64px 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    padding: 36px 64px;
  }

  @media screen and (min-width: 1440px) {
    padding: 36px 69px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.about-us-title {
  font-size: 16px;
  font-weight: 400;
  margin-left: 50px;
  margin-bottom: 30px;
}

.about-us-title::before {
  content: '';
  display: block;
  width: 30px;
  height: 1px;
  background-color: var(--accent);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateX(-50%);
}

.title-wrapper {
  position: relative;
}

.about-us-subtitle {
  text-align: start;
}

.about-us-text {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
}

.features-title {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 14px;
}

.features-text {
  text-align: center;
  max-width: 170px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.about-us-image {
  margin: 0 auto;
}

.about-us-section .container {
  @media screen and (max-width: 767px) {
    padding: 0;
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
  }
}
