@import url(./header.css);

body {
  font-family: 'Roboto', sans-serif;
  min-width: fit-content;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.container {
  width: calc(375px + (16px * 2));
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 320px) {
    max-width: calc(375px + (16px * 2));
  }

  @media screen and (min-width: 768px) {
    width: calc(704px + (16px * 2));
  }

  @media screen and (min-width: 1440px) {
    width: calc(1319px + (16px * 2));
  }
}

@media screen and (max-width: 767px) {
}

@media screen and (min-width: 1440px) {
  .mobile-menu,
  .mobile-menu-button {
    display: none;
  }
}
